/* =================================
  Base Styles
==================================== */

* {
	box-sizing: border-box;
}

body {
	font-family: 'Varela Round', sans-serif;
	line-height: 1.6;
	color: #3a3a3a;
}

p {
	font-size: .95em;
	margin-bottom: 1.5em;
}

h1 {
	font-size: 4rem; /* 5rem = 90px/16px  */
    text-align: center;
	color: rgb(17, 16, 16);
	text-transform: uppercase;
	font-weight: normal;
	line-height: 1.3;
	text-shadow: 0 1px 1px rgba(0,0,0,.8);
  }

h2,
h3,
a {
	color: #093a58;
}

h2,
h3 {
	margin-top: 0;
}

a {
	text-decoration: none;
}

/* =================================
  Image
==================================== */
/* ---- Left Align Logo ---- */
img {
	max-width: 100%;
	/* margin-bottom: 20px; */
	border-radius: 10px;
	background-size: cover;
}

  /* ---- Rotate Image/Speed ---- */

  .rotate {
	-webkit-transition:all 0.5s ease-out;
	-moz-transition:all 0.5s ease-out;
	-ms-transition:all 0.5s ease-out;
	-o-transition:all 0.5s ease-out;
	transition:all 0.5s ease-out;
  }
  /* ---- Rotattion and scaling setting for logo ---- */
  .rotate:hover {
	-webkit-transform:scale(1.3) rotate(360deg);
	-moz-transform:scale(1.3) rotate(360deg);
	-ms-transform:scale(1.3) rotate(360deg);
	-o-transform:scale(1.3) rotate(360deg);
	transform:scale(1.3) rotate(360deg);
  }

  /* ---- Resize Logo ---- */
 .resizelogo
 {

	display: block;
  margin-left: auto;
  margin-right: auto;
  width: 250px;
  height: 250%;

}

/* =================================
  Base Layout Styles
==================================== */

/* ---- Navigation ---- */

.name {
	font-size: 1.25em;
}

.name,
.main-nav li {

	text-align: center;
	background: #fff;
	padding: 14px 16px;
	margin-top: 6px;
	margin-bottom: 6px;
}

.main-nav a {
	font-size: .95em;
	color: #3f2ed4;
	text-transform: uppercase;

}

.main-nav a:hover {
	color: #093a58;
}

.name a,
.main-nav a {
	padding: 10px 15px;
}

.media-nav li {

	/* Used to horizontally align the social media icons */
	padding: 14px 16px;
	display: inline-block;
	float: 6%;


/* ---- Temp code to highlight social media icons ---- */
  	outline: 2px dashed blue;
}

.media-nav ul {
	display: inline-block;

}

.social-image {
	float: inline-block;

}

.wrap {
  text-align: center;
  margin-left: auto ;
  margin-right: auto ;
}

/* ---- Layout Containers ---- */

.container {

	padding-left: 1em;
	padding-right: 1em;

}

.container2 {
	text-align: left;
	padding-left: 1em;
	padding-right: 1em;
	width: 100%;
	column-count: 2;
}


.main-header {
	padding-top: 1.5em;
	padding-bottom: 1.5em;
	background: #3acec2;
	margin-bottom: 30px;
}
.xprimary{
	column-count: 2;
}

.main-footer {
	text-align: center;
	padding: 2em 0;
	background: #d9e4ea;
}

/* =================================
Flexbox
==================================== */
.containerflex {

	display: flex; /* =set flex container = */
	flex-wrap: wrap;
	align-content: space-around;
	justify-content: center;
  align-items: center;
}

/* =================================
  Media Queries
==================================== */

/* @media (min-width: 769px) {

	.wrap {
		min-height: calc(100vh - 89px);
	}

	.container {
		width: 80%;
		max-width: 1150px;
		margin: 0 auto;
	}

	.name,
	.main-nav,
	.main-nav li {
		display: inline;
	}

	.name {
		width: 240px;

		/* margin-right: 50px; */
	/* }
 	img {
		display: flex;
    justify-content: center;
		lex-wrap: wrap;
		align-content: space-around;

		}
}  */
@media (max-width: 609px) {
	header {
	display: flex;
	flex-wrap: wrap;
	align-content: space-around;
	justify-content: center;
  align-items: center;
 }
}
